body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/top-view-soil_23-2148175893.avif);
}
#playground{
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.596);
    border: 5px solid black;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    
}

h1{
    font-weight: 600;
}
.wrappper{
    
    width: 100%;
    height: 100%;
    animation: appearLeft 3s;
}
button{
    margin: 0 auto;
    display: block;
}

.square{
    border: 3px solid rgb(8, 8, 8);
    border-style:outset;
    /* width:calc(100% / 8);
    height:calc(100% / 8) ; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active{
    background-color: rgba(255, 215, 34, 0.815);
    color: black;
}

.bomb{
    background-color: rgb(173, 7, 7);
    border-style:inset;
    

}
#score{
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
    border-radius: 20px;
    margin: 10px;
}
#message{
   
    color: red;
   font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-menu{
    animation: appearRight 3s;
    height: 100vh;
    background-image: url(../img/9a55c1a9053ce08313bab73dbb92c6cf.jpg);
    background-repeat: no-repeat;
    border-right: 5px solid black;
}

.my-bg-white{
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 20px;
}


@keyframes appearRight {
    0%{transform: translate(-200%);}
    100%{transform: translate(0%);}

}

@keyframes appearLeft {
    0%{transform: translate(+200%);}
    100%{transform: translate(0%);}

}

@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
     transform: scale(1.4, 1.4);
    }

    100% {
    transform: scale(1, 1);
    }
}

.pulseBomb{
    animation: pulse 1s linear infinite;
}